{% extends 'base.html' %} {% block head %}
<title>List of Users</title>
{% endblock %} {% block body %}
<!-- Hero Area Start-->

{{ msg }} {{ session['name'] }}
<table border="1">
  <thead>
    <td>FISRT NAME</td>
    <td>LAST NAME</td>
    <td>COMPANY NAME</td>
    <td>STATE</td>
    <td>CITY</td>
    <td>MOBILENO</td>
    <td>EMAILID</td>
    <td>PASSWORD</td>
    <td>PINCODE</td>
  </thead>
  {% for row in users %}
  <tr>
    <td>{{row["FIRSTNAME"]}}</td>
    <td>{{ row["LASTNAME"]}}</td>
    <td>{{row["COMPANYNAME"]}}</td>
    <td>{{row['STATE']}}</td>
    <td>{{row["CITY"]}}</td>
    <td>{{ row["MOBILENO"]}}</td>
    <td>{{row["EMAILID"]}}</td>
    <td>{{row['PASSWORD']}}</td>
    <td>{{row['PINCODE']}}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
