
{% extends 'base.html' %}
{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %} 
<style>
  
</style>

<section class="catogories" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 p-1">
                
                        
             
                          
                          <img src="https://imsbucket.s3.jp-tok.cloud-object-storage.appdomain.cloud/register.png" class="img-fluid" style="width: 500px; display: block; margin-left: auto; margin-right: auto;">
                
                
                    
                    

                </div>
            
            <div class="col-lg-6 col-md-6 col-12 p-1" style="margin-top: 40px;">
              <div class="container register-form">
               
                <div class="form">
                  <div class="d-flex align-items-center mb-3 pb-1">
                  
                    <span class="h1 fw-bold mb-0">Register</span>
                  </div>
    
                    <div class="form-content">
                      <form class="mx-1 mx-md-4" action = "{{ url_for('addrec') }}" method = "POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="flex-row align-items-center mb-4">
                                  <input type="text" name="fname" value="" placeholder="First Name" class="form-control" />
                                </div>
                               
                                <div class="flex-row align-items-center mb-4">
                                  <input type="text" name="cname" value="" placeholder="Company Name" class="form-control" />
                                </div>
                                
                                <div class="flex-row align-items-center mb-4">
                                  <input type="text" name="city" value="" placeholder="City" class="form-control" />
                                </div>
                                <div class="flex-row align-items-center mb-4">
                                  <input type="text" name="mobileno" value="" placeholder="Mobile Number" class="form-control" />
                                </div>
                                <div class="flex-row align-items-center mb-4">
                                  <input type="password" name="password" value="" placeholder="Enter Password" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="flex-row align-items-center mb-4">
                                  <input type="text" name="lname" value="" placeholder="Last Name" class="form-control" />
                                </div>
                                <div class="flex-row align-items-center mb-4">
                                  <input type="text" name="state" value="" placeholder="State" class="form-control" />
                                </div>
                                <div class="flex-row align-items-center mb-4">
                                  <input type="text" name="pincode" value="" placeholder="Pincode" class="form-control" />
                                </div>
                               
                                <div class="flex-row align-items-center mb-4">
                                  <input type="email" name="emailid" value="" placeholder="Email ID" class="form-control" />
                                </div>
                                
                                <div class="flex-row align-items-center mb-4">
                                  <input type="password" name="cpassword" value="" placeholder="Re-type Password" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="text-center text-lg-start mt-4 pt-2">
                          <input type="submit" class="btn btn-primary btn-lg" style="width: 125px; display: block; margin-left: auto; margin-right: auto;">
                        
                          <p class="support-p">Already have an Account?    
                            <a href="/login" style="color: black; text-decoration: none;"><strong style="font-size: large;">Login</strong></a> 
                          </p>
                        </div>
                        </form>
                     
                    </div>
                </div>
            </div>
              
    </div>
</section> 



 {% endblock %}